body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;     
}

.navbar{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}

#category{
  padding: 5% 6%;
}
#product-cards{
  padding: 5% 10%;
}

#footer{
 margin-bottom: 2%;
 margin-top: 2%;
  
}

/* active button */
.active-btn{
  color: #555;
}
.active-btn::after{
  width: 100%;
}

.canvas-title{
  text-align: center;
}


/*     Shopping Cart     */

 .btn-purchase{
   text-align: center;
   margin: auto;
   padding: 2%;
   width: 60%;
 }

 #shopping-cart{
   padding: 5% 5%;
 }

 .cart-total{
   text-align: right;
   font-size: 1.3rem;
 }
